[build]
builder = "nixpacks"

[build.nixpacksPlan]
phases = ["setup", "install", "build"]

[build.nixpacksPlan.phases.setup]
cmds = ["curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | bash && apt-get install -y git-lfs && git lfs install && git lfs pull"]

[deploy]
startCommand = "npm run start"
