.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-white);
    overflow: hidden;
    margin-top: 0;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoomSlow 20s infinite alternate;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content em {
    font-style: italic;
    font-family: var(--font-heading);
}

.hero-buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

@media (min-width: 768px) {
    .hero-content h1 {
        font-size: 4rem;
    }
}